*~
.deps
.dirstamp
.libs
autom4te.cache
config.log
config.status
stamp-h1
stamp-h2
/*.la
/build
/doc/
/doxytags.xml
/deps/*.ts
/deps/boost-1.47.0/tools/build/v2/engine/src/bin.*
/deps/protobuf-2.4.1/src/*.o
/deps/protobuf-2.4.1/src/*.lo
/deps/protobuf-2.4.1/src/*.la
/src/cxx/*.o
/src/cxx/*.lo
/src/riakc/*.o
/src/*.o
/src/*.lo
/config.h
/deps/Makefile
/deps/boost-1.47.0/bin.v2/
/deps/boost-1.47.0/tools/build/v2/bjam
/deps/boost-1.47.0/tools/build/v2/b2
/deps/boost-1.47.0/tools/build/v2/bootstrap.log
/deps/boost-1.47.0/tools/build/v2/engine/src/bootstrap/
/deps/protobuf-2.4.1/Makefile
/deps/protobuf-2.4.1/config.h
/deps/protobuf-2.4.1/gtest/Makefile
/deps/protobuf-2.4.1/gtest/build-aux/config.h
/deps/protobuf-2.4.1/gtest/libtool
/deps/protobuf-2.4.1/gtest/scripts/gtest-config
/deps/protobuf-2.4.1/libtool
/deps/protobuf-2.4.1/protobuf-lite.pc
/deps/protobuf-2.4.1/protobuf.pc
/deps/protobuf-2.4.1/src/Makefile
/libtool
/libriak_client.la
/Makefile
/riakc
/riak_client.pc
/riak_cxx_simple_test
/riak_cxx_test_server
/riak_cxx_unit_test
/riak_client/config.h
/test/*.o


